/* ~/.config/gtk-3.0/gtk.css */
/* CHANGE SIZE OF HEADER BAR */ 
headerbar { 
  min-height: 0px; 
  padding-left: 1px; /* same as childrens vertical margins for nicer proportions */ 
  padding-right: 1px; 
} 
 
headerbar entry, 
headerbar spinbutton, 
headerbar button, 
headerbar separator { 
  margin-top: 1px; /* same as headerbar side padding for nicer proportions */ 
  margin-bottom: 1px; 
} 
 
/* shrink ssd titlebars */ 
.default-decoration { 
  min-height: 0; /* let the entry and button drive the titlebar size */  
  padding: 1px; 
} 
 
.default-decoration .titlebutton { 
  min-height: 26px; /* tweak these two props to reduce button size */ 
  min-width: 26px; 
} 
 
/* CHANGE SIZE OF TAB BAR */ 
notebook tab { 
  min-height: 0; 
  padding-top: 1px; 
  padding-bottom: 1px; 
} 
 
notebook tab button { 
  min-height: 0; 
  min-width: 0; 
  padding: 1px; 
  margin-top: 1px; 
  margin-bottom: 1px; 
} 
 
notebook button { 
  min-height: 0; 
  min-width: 0; 
  padding: 1px; 
}
